# Dependencies
node_modules

# Build outputs
dist
out
build

# Lock files
package-lock.json
yarn.lock

# Environment variables
.env
.env.local

# Logs
*.log*

# OS files
.DS_Store
Thumbs.db

# Cache
.eslintcache
*.tsbuildinfo
